
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    
    
}
.accordin{
    width: 800px;
    
}
.accordin .contentBx{
    position: relative;
    margin: 10px 20px;
    font-family: sans-serif;
    font-size: 13px;
}
.accordin .contentBx .label{
    position: relative;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(5, 6, 7);
    cursor: pointer;
    
}
.accordin .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.15em;
    

}
.accordin .contentBx.active .label::before{
    content: '-';
}
.accordin .contentBx .content{
    position: relative;
    background: #fefff1;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    text-align:justify ;
    padding: 0px 10px;
   
}
.accordin .contentBx.active .content{
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
   
}


