h1{
    text-align: center;
    margin-top: 90px;
    font-family: BauerBodoniLight,Arial,Sans-Serif;
    color: #222;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: HCoGothamSSmRegular,Arial,Sans-Serif;
    color: #222;

}
.box{
    display: flex;
    justify-content: space-between;
}
.box1{
    border: 1px solid black;
    width: 600px;
    height: 310px;
    margin-left:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 20px;

}
.box2{
    border:1px solid black;
    width: 600px;
    height: 310px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 20px;
}
.p1{
    text-align: center;
    margin-top: 38px;
    
}
/* input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
  }
  .no-outline:focus {
    outline: none;
  } */
input{
    box-shadow:none;
    outline:none;
    border:none;
    border-bottom:1px solid black;
    width: 80%;
    margin: auto;
    margin-left: 28px;
    margin-top: 40px;
}
.button{
    width: 82%;
    background-color:black;
    color: white;
    margin-top: 50px;
    height: 40px;
    margin-left: 22px;
}
.button1{
    width: 82%;
    background-color:whitesmoke;
    color: black;
    margin-top: 50px;
    height: 40px;
    margin-left: 22px;
}




    
