#reference26 ~ div {
    width:1300px;
    /* height:300px; */
    /* border:solid 1px red; */
    margin-bottom:50px;
}
.img26{
    width:300px;
    height:auto;
    object-fit :cover;
}
#reference26 ~ div, #firstblock26 > div{
    display:flex;
}
#firstblock26 > div ,#secondblock26 > div {

    width:430px;
    height:auto;
    /* border:1px solid black; */
   
}
#secondblock26 > div {
text-align:center;
width:320px;
justify-content: space-between;
}
#secondblock26{
    justify-content: space-between;

}

#thirdblock26 > div {

    width:380px;
    height:300px;
    /* border:1px solid black; */

}

#fourthblock26{

    height:150px !important;
    background-color:#E1EAF1

}
#fourthblock26 > div {

    display:flex;
    justify-content:center;
    background-color:white;
    /* align-content:center; */
    margin:35px 10px 10px 85px;
    width:1100px;
    height:80px;
    /* text-align:center */
   

}
#fourthblock26 > div > div{

    width:350px;
    justify-content:center;
    /* border:1px solid black; */
  
    
    /* text-align:center; */

}
.list26{

   /* text-align:center; */
   margin-left:50px;

}

.buton26{

    text-align:center;
    padding:20px;

}
 .buton26 > .button26 {

   
    padding:11px 50px 7px 50px ;
   

}  
.bottom26{
    text-align:center;
    
    

}
 .p26{
    margin-top:10px;
    font-size:27px;
    font-weight:normal;
    margin-left:35px;
}
.a26 {
    color:black;
}