.main{
    display: flex;
    height: 550px;
    margin-top: 100px;
}
img{
    width: 1000px;
    height: 550px;
}
p{
    font-family: GothamSSm-Book;
    color: #333;
    font-size: 20px;
}
.e{
    overflow: scroll;
    /* overflow: hidden; */
}
input{
    width: 80%;
    height: 50px;
    margin-left: 20px;
}
button{
    width: 82.5%;
    height: 40px;
     margin-left: 20px;
}
